<h3>talent</h3>
<input ng-model="searchBy" value="type" type="radio" name="search-type">Search By Worker Type</br>
	<input type="checkbox">Employee</br>
	<input type="checkbox">Contigent Worker</br>
<input ng-model="searchBy" value="critical" type="radio" name="search-type">Search By Critical Type</br>
	<input type="checkbox">False</br>
	<input type="checkbox">True</br>
<input ng-model="searchBy" value="compensation" type="radio" name="search-type">Search By Compensation Grade</br>
	<input type="checkbox">Non Management</br>
	<input type="checkbox">Field Sales</br>

